.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  width: 30px;
}

.App-container {
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.InputForm {
  display: inline-block;
  width: 49%;
  padding: 5px;
}

body {
  background-color: #282c34;
  color: white;
  padding: 50px;
  font-family: Arial;
}

.rating-1 {
  background-color: #d84214;
}
.rating-2 {
  background-color: #ca5800;
}
.rating-3 {
  background-color: #ba6900;
}
.rating-4 {
  background-color: #a97600;
}
.rating-5 {
  background-color: #988100;
}
.rating-6 {
  background-color: #868b00;
}
.rating-7 {
  background-color: #749220;
}
.rating-8 {
  background-color: #629839;
}
.rating-9 {
  background-color: #509e51;
}
.rating-10 {
  background-color: #3ca267;
}

